@import "../variables";

.footer__wrapper {
  width: 100%;
  padding: 9rem 12rem 10rem 2rem;
  background-color: $col-footer-bg;

  @media (max-width: $screen-medium-size) {
    & {
      padding: 9.2rem 2rem 2.4rem 2rem;
      height: 89rem;
    }
  }
}

.footer__social-links {
  width: 3.6rem;
  display: flex;
  flex-direction: column;

  &>.icon-link>svg>.svg-icon {
    fill: $col-footer-logo;
  }

  &>.icon-link>svg>.svg-icon-fill {
    fill: $col-footer-bg;
  }

  @media (max-width: $screen-medium-size) {
    & {
      position: absolute;
      right: 2rem;
      top: 34%;
    }
  }
}

.jellyverse-svg-icon {
  fill: $col-footer-logo;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__content {
  width: 110rem;

  @media (max-width: $screen-medium-size) {
    & {
      width: 100%;
    }
  }
}

.footer__column-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-medium-size) {
    & {
      flex-direction: column-reverse;
    }
  }
}

.footer__content-column-field {
  @media (max-width: $screen-medium-size) {
    & {
      margin-bottom: 12.4rem;
    }
  }
}

.footer__footer-link {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'GalanoGrotesque', serif;
  color: $col-footer-link;
}

.footer__jellyverse-link {
  margin-top: 1.6rem;
}

.footer__jelly-links-group {
  margin-top: 2.4rem;
  display: flex;

  & > * {
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
  }
}

.footer__lama-link {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}

.footer__general-links-group {
  margin-top: 5.4rem;
  display: flex;

  & > * {
    margin-right: 6rem;
  }

  @media (max-width: $screen-medium-size) {
    & {
      flex-direction: column;
    }

    & > * {
      margin-bottom: 2.2rem;
    }
  }
}

.footer__column-end-container {
  display: flex;
  justify-content: space-between;
  margin-top: 9.4rem;

  @media (max-width: $screen-medium-size) {
    & {
      flex-direction: column;
    }
  }
}

.footer__column-audited-by {
  @media (max-width: $screen-medium-size) {
    & {
      display: flex;
      justify-content: center;
      align-items: end;
      margin-top: 5.4rem;
    }
  }
}

.footer__column-end-container-text {
  display: flex;
  align-items: center;
  font-family: 'GalanoGrotesque', serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba($col-footer-link, 0.5);
}

.footer__support-email {
  text-decoration: underline;
}

.footer__circle {
  margin-left: 1.4rem;
}

.footer__content-column-title {
  font-family: 'GalanoGrotesque', serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $col-text;
}

.footer__content-column-contact-field {
  width: 35rem;
  height: 3.6rem;
  margin-top: 2.2rem;
  display: flex;
}

.footer__input {
  height: 100%;
  border: none;
  box-shadow: inset 0 0 0 0.1rem $col-footer-input-border;
  border-radius: 0.2rem;
  background-color: transparent;
  font-family: 'GalanoGrotesque', serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: rgba($col-text, 0.3);
  padding: 1.6rem 4rem 0.6rem 0.8rem;

  &:focus {
    outline: none;
  }
}

.footer__submit {
  height: 100%;
  width: 10rem;
  background: $col-bg;
  border-radius: 0.2rem;
  padding: 0.6rem 0.8rem 0.4rem;
  box-shadow: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.footer__submit-text {
  font-family: 'GalanoGrotesque', serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $col-text;
  display: flex;
  align-self: end;
}

.footer__submit-icon {
  width: 0.9rem;
  height: 0.9rem;
}
