@font-face {
  font-family: 'GalanoGrotesque';
  src: url("../fonts/GalanoGrotesque-Medium.ttf") format("opentype");
}

@font-face {
  font-family: 'GalanoGrotesqueLight';
  src: url("../fonts/GalanoGrotesque-Light.ttf") format("opentype");
}

@font-face {
  font-family: 'DeltaGothicOne';
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("opentype");
}
