$app-wrapper-width: 1440px;

$screen-large-size: 1440px;
$screen-medium-size: 640px;
$screen-small-size: 390px;

$col-white: #FFFFFF;
$col-black: #000000;
$col-vulcan: #141423;
$col-hollywood: #FF0D9E;
$col-candlelight: #FFD80D;
$col-blue: #1960FF;
$col-sulu: #BAF77E;
$col-melrose: #9292FF;
$col-blue-zodiac: #0D193F;
$col-steel-gray: #21212F;
$col-storm-gray: #71727A;
$col-tuna: #353544;
$col-manatee: #8C8C95;

$col-bg: $col-vulcan;
$col-diving-bg: $col-blue;
$col-text: $col-white;
$col-social-icon: $col-tuna;
$col-link: $col-white;
$col-link-primary-bg: $col-hollywood;
$col-icon-link-bg: $col-vulcan;
$col-ticker-line: $col-candlelight;
$col-graffiti-bg: $col-blue;
$col-feature-card-border: $col-white;
$col-feature-jellyverse-card-bg: $col-hollywood;
$col-feature-jellyswap-card-bg: $col-sulu;
$col-feature-jellystake-card-bg: $col-melrose;
$col-feature-jellyswap-title: $col-blue-zodiac;
$col-feature-more-bg: rgba($col-vulcan, 5%);
$col-burn-event-bg: $col-sulu;
$col-footer-bg: $col-steel-gray;
$col-footer-social-icon: $col-storm-gray;
$col-footer-logo: $col-storm-gray;
$col-footer-link: $col-manatee;
$col-footer-input-border: $col-tuna;